<div class="main-content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="card add-user-container">

            <div class="card-header card-header-bordeaux">
                <h4 class="card-title">  Formulaire de Produit </h4>
                <p class="card-category"> Modifier les détailles de la Produit</p>

            </div>
            
            <form (submit)="updateProduit()" class="add-user-form">
              <div class="form-group">
                <label for="code_client">Code Produit</label>
                <input type="number" class="form-control" id="code_client" [(ngModel)]="produit.code_prod" name="code_client" required>
              </div>
              <div class="form-group">
                <label for="adresse">Nom Produit </label>
                <input type="text" class="form-control" id="adresse" [(ngModel)]="produit.nom_prod"  name="adresse" required >
              </div>

              <div class="form-group">
                <label for="email">Description</label>
                <input type="text" class="form-control" id="email" [(ngModel)]="produit.description" name="email" required>
              </div>
              
              <div class="form-group">
                <label for="nom_client">Prix Unitaire</label>
                <input type="text" class="form-control" id="nom_client" [(ngModel)]="produit.prix_unit"  name="nom_client" required>
              </div>
              <div class="form-group">
                <label for="prenom">Quantité</label>
                <input type="text" class="form-control" id="prenom" [(ngModel)]="produit.quantite"   name="prenom" required>
              </div>
  
              <button type="submit" class="MuiButton-root">Modifier Produit</button>
            </form>
  
          </div>
        </div>
      </div>
    </div>
  </div>
  